.register-credentials-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.register-credentials-form input{
    width: 100%;
    padding: 15px 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background-color: rgb(245, 245, 245);
}

.register-form-btn-container {
    width: 100%;
    text-align: center;
}

.register-form-btn-container button {
    width: 100%;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}