.navbar-icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    font-size: 28px;
    gap: 30px;
}

.navbar-icon {
    cursor: pointer;
}

.navbar-log-btn {
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    text-decoration: none;
}

@media screen and (max-width: 376px) {
    .navbar-icon-container {
        gap: 15px;
    }
}