.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.footer-content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
}

.footer-subheading, .footer-link, .footer-social-icon {
    cursor: pointer;
}

.footer-inner-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-icon-container { 
    margin: 30px 0;
    display: flex;
    gap: 50px;
}

.footer-social-icon {
    font-size: 28px;
}

.footer-logo-container {
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

.footer-logo-icon {
    font-size: 32px;
    margin-right: 10px;
}

@media screen and (max-width: 426px) {
    .footer-content-container {
        gap: 65px;
    }

    .footer-icon-container { 
        margin: 50px 0;
    }
}