.login-container { 
    width: 100%;
    height: calc(100vh - 220px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    width: 420px;
    text-align: center;
}

.login-form-heading {
    margin-bottom: 50px;
    font-size: 32px;
}

.login-google-form button{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.login-google-icon {
    font-size: 28px;
}

